<launch>
  <!-- Camera /-->
  <node name="camera" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" type="string" value="/dev/video1"/>
    <param name="pixel_format" type="string" value="yuyv"/>
    <param name="framerate" type="int" value="30"/>
    <param name="image_width" type="int" value="640"/>
    <param name="image_height" type="int" value="480"/>
  </node>

  <!--node ns="camera" name="image_proc" pkg="image_proc" type="image_proc" /-->
  
</launch>

